{% extends 'base.html.twig' %}
{% block title %}
    Change your password
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/changePassword.css') }}"{% endblock %}
{% block body %}

    {%  for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {{form_start(changePasswordForm) }}
    {{ form_widget(changePasswordForm) }}
    <button class="btn btn-primary" type="submit">Confirm new password</button>
    {{ form_end(changePasswordForm) }}

{% endblock %}