{% extends 'base.html.twig' %}

{% block title %}My profile {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/formMyProfile.css') }}">{% endblock %}
{% block body %}

    {%  for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="photo">
        {% if app.user.photoURL %}
{#            <img src="{{ asset(app.profilepictures_directory ~ app.user.photoURL) }}" alt="profile picture ">#}
            <img src="{{ asset('ProfilePictures/') ~ app.user.photoURL }}" alt="SIUU"/>
        {% endif %}
    </div>

    <div class="row">
        <div id="formulaire" class="col-12">

            <h2>My profile</h2>
            {{ form_start(myProfileForm) }}
            {{ form_widget(myProfileForm) }}

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ path('app_reset_password') }}" class="btn btn-light">Réinitialiser le mot de passe</a>
            <a href="{{ path('app_home') }}" class="btn btn-danger">Cancel</a>


            {{ form_end(myProfileForm) }}
        </div>
    </div>
{% endblock %}