{% extends 'base.html.twig' %}

{% block title %}Cancel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tripCancel.css') }}">
{% endblock %}

{% block body %}
<br>
<br>
<h1>Cancel Trip</h1>
<br>
<p>Display name: {{ trip.name }}</p>
<p>Date and hour: {{ trip.dateStartTime | date('Y-m-d') }}</p>
<p>Campus: {{ trip.campus.name }}</p>
<p>Place: {{ trip.place.name }}</p>
<p>Reason: </p>
{% endblock %}
