{% extends 'base.html.twig' %}

{% block title %}Trips List!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/tripList.css') }}">
{% endblock %}

{% block body %}
    {%  for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <h2>Filtrer les sorties</h2>
    <br>
    <br>
    <br>
    <br>
    {%  for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
   {{ form_start(filterForm) }}

    {# colonne 1 #}
    <div id="filterForm" class="row ms-10">
        <div class="col-6">
            <div class="row">
                <div class="col-5 mt-2">{{ form_label(filterForm.campus) }}</div>
                <div class="col-4">{{ form_widget(filterForm.campus) }}</div>
                {{ form_errors(filterForm.campus) }}
            </div>
            <br>
            <div class="row">
                <div class="col-5 mt-2">{{ form_label(filterForm.contains) }}</div>
                <div class="col-5">{{ form_widget(filterForm.contains) }}</div>
                {{ form_errors(filterForm.contains) }}
            </div>
            <br>
            <div class="row">
                <div class="col-2 mt-2">{{ form_label(filterForm.dateStartTime) }}</div>
                <div class="col-4">{{ form_widget(filterForm.dateStartTime) }}</div>
                {{ form_errors(filterForm.dateStartTime) }}


                <div class="col-2 mt-2 text-center">{{ form_label(filterForm.dateEndTime) }}</div>
                <div class="col-4">{{ form_widget(filterForm.dateEndTime) }}</div>
                {{ form_errors(filterForm.dateEndTime) }}
            </div>
            <br><br>

            <div class="col-12 text-center"><button style="width: 30em" type="submit" class="btn btn-primary">Chercher</button></div>
            <br>
        </div>

        {# colonne 2 #}
        <div class="col-5">
            <div class="row">
                <div class="col-2 mt-2 text-end">{{ form_label(filterForm.isOrganizer) }}</div>
                <div class="col-10">{{ form_widget(filterForm.isOrganizer) }}</div>
                {{ form_errors(filterForm.isOrganizer) }}
            </div>
            <br>
            <div class="row">
                <div class="col-2 mt-2 text-end">{{ form_label(filterForm.isRegisteredTo) }}</div>
                <div class="col-10">{{ form_widget(filterForm.isRegisteredTo) }}</div>
                {{ form_errors(filterForm.isRegisteredTo) }}
            </div>
            <br>
            <div class="row">
                <div class="col-2 mt-2 text-end">{{ form_label(filterForm.isNotRegisteredTo) }}</div>
                <div class="col-10">{{ form_widget(filterForm.isNotRegisteredTo) }}</div>
                {{ form_errors(filterForm.isNotRegisteredTo) }}
            </div>
            <br>
            <div class="row">
                <div class="col-2 mt-2 text-end">{{ form_label(filterForm.isPassed) }}</div>
                <div class="col-10">{{ form_widget(filterForm.isPassed) }}</div>
                {{ form_errors(filterForm.isPassed) }}
            </div>
        </div>
    </div>
    <br>
    {{ form_end(filterForm) }}
    <br>
    <br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Trip name</th>
        <th>Trip date</th>
        <th>Closure</th>
        <th>Registers/Places</th>
        <th>State</th>
        <th>Register</th>
        <th>Organizer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {# boucler sur les sorties #}
    {% for trip in trips %}
        {% if trip.state.name != 'Historicized' %}
        <tr>
            <td>{{ trip.name }}</td>
            <td>{{ trip.dateStartTime | date('Y-m-d') }}</td>
            <td>{{ trip.registrationDeadLine | date('Y-m-d') }}</td>
            <td>{{ trip.user | length }}/{{ trip.nbRegistrationsMax }}</td>
            <td>{{ trip.state.name }}</td>
            <td>
                {% if app.user in trip.user %}
                    X
               {% else %}

                {% endif %}
            </td>
            <td>
                <a href="{{ path('show_profile', {'id': trip.organizer.id}) }}">{{ trip.organizer.firstname }}</a>
            </td>

            <td>

                {% if (trip.user | length) < trip.nbRegistrationsMax  and not trip.user.contains(app.user)%}
                    <a href="{{ path('trip_inscription', {'id': trip.id}) }}">Subscribe</a>
                {% endif %}

                <a href="{{ path('trip_display', {'id': trip.id })}}">Display</a>

                {% if  trip.user.contains(app.user)%}
                    <a href="{{ path('trip_desinscription', {'id':trip.id}) }}">Unsubscribe</a>
                {% endif %}

                {% if trip.organizer is same as app.user%}
                    <a href="{{ path('modify_trip', {'id': trip.id })}}">Modify</a>
                    {% if trip.state.name != 'Canceled' %}
                    <a href="{{ path('trip_cancel', {'id': trip.id })}}">Cancel</a>
                {% endif %}
                {% endif %}

                {% if trip.state.name == "Created" and trip.organizer is same as app.user%}
                    <a href="{{ path('modify_trip', {'id': trip.id}) }}">Publish</a>
                {% endif %}
            </td>

        </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>
    <a href="{{ path('create_trip') }}" class="btn btn-primary btn-lg">Create Trip</a>
{% endblock %}








