{% extends 'base.html.twig' %}

{% block title %}Display{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tripDisplay.css') }}">
{% endblock %}

{% block body %}
    {%  for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Display name: {{ trip.name }}</p>
                <p>Date and hour: {{ trip.dateStartTime | date('Y-m-d') }}</p>
                <p>Registration Deadline: {{ trip.registrationDeadLine | date('Y-m-d') }}</p>
                <p>Number of Places: {{ trip.nbRegistrationsMax }}</p>
                <p>Duration (minutes): {{ trip.duration }}</p>
                <p>Description: {{ trip.infosTrip }}</p>
            </div>
            <div class="col">
                <p>Campus: {{ trip.campus.name }}</p>
                <p>City: {{ trip.place.city.name }}</p>
                <p>State: {{ trip.state.name }}</p>
                <p>Street: {{ trip.place.street }}</p>
                <p>Postal Code: {{ trip.place.city.postalCode }}</p>
                <p>Latitude: {{ trip.place.latitude }}</p>
                <p>Longitude: {{ trip.place.longitude }}</p>
            </div>
        </div>
    </div>

    <br>
    <h4>List of registered participants:</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Name</th>
        </tr>
        </thead>

        {%for current in trip.user%}
        <tr>
        <td>{{ current.pseudo }}</td>
            <td>{{ current.firstname }} {{ current.name }}</td>
        </tr>
        {% endfor %}

    </table>

    l
{% endblock %}