<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Logo Sortir.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('displayAll') }}">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campus</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {# Si l'utilisateur est connecté on affiche ces 2 liens #}
                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('modify_profile' ) }}">My profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                            {# Se connecter #}
                            <a class="nav-link" href="{{ path('app_login') }}">Log In</a>
                    </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>